<h1><%= @title %></h1>

<table>
  <tr>
    <th>Type</th>
    <th>Content</th>
    <th>User ID</th>
  </tr>

<% @section.each do |section| %>
  <tr>
    <td><%= section.typesection %></td>
    <td><%= section.content %></td>
    <td><%= section.userid %></td>
  </tr>
<% end %>
</table>
