
<h2 class="title">Roundfile: A Resume Tool</h2>

<p class ="meta">
  Welcome to Roundfile!
  Create sections to mix and match to create your perfect resume!
</p>
<br />
<%= link_to "Sign Up Now!", signup_path, :class => "signup_button round" %>