<h1>Editing Resume Title</h1>
<br />


<%= render 'form' %>
<br />
OR
<%= link_to 'Edit Resume Sections List', "/newresumelist/#{@resume.id}" %><br /><br />
<small><%= link_to 'Back to View Resume', @resume %></small>